@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Lucida Grande";
  font-size: 16px;

}

.navBar {
  background-color: #fff;
  height: 75px;
  margin: 0 220px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar a {
  font-size: 10px;
  color: #ccc;
  text-decoration: none;
}

.navBar button {
 background-color: green;
 color: #fff;
 width: 100px;
 height: 30px;
 border: 1px solid green;
 border-radius: 5px;
}

h1 {
  font-size: 42px;
  font-family: "Lora", serif;
  margin: 40px 0 25px;
}

h2 {
  font-weight: bold;
  line-height: 16px;
  font-size: 16px;
}

p {
font-size: 12px;
line-height: 16px;
}

.mainContainer {
  background-color: #fff;
  margin-left: 220px;
  margin-right: 220px;
}

.topBox {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBoxText {
  width: 488px;
  margin-right: 10px;
}

.topBoxText button {
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 40px 10px 40px 0;
}

.topBox img {
  height: 200px;
  margin-top: 40px;
  display: flex;
}

.grid {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.gridBox {
  width: 49%;
  margin-top: 15px;
  border: 0.5px solid #222;
  display: flex;
}

.gridBox img {
  width: 45%;
  height: 255px;
  object-fit: cover;
}

.gridBoxText {
  padding: 16px;
  font-weight: bold;
}
