@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  /* margin: 0; */
  font-family: "Lucida Grande";
  background-color: #fff;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 40px;
}

h1 {
  font-size: 42px;
  font-family: "Lora", serif;
  margin: 40px 0 25px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 12px;
  line-height: 16px;
}

.navBar {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #ccc;
  /* position: relative; */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

ul {
  width: 100%;
  font-size: 10px;
  color: #333;
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;

}

ul span {
  font-weight: bold;
}

.navBarButton button{
 background-color: #1aa77d;
 color: #fff;
 width: 100px;
 height: 30px;
 border: 1px solid #1aa77d;
 border-radius: 5px;
 margin-left: 25px;
 margin-top: 10px;
}

.mainContainer {
  width: 100%;
}

.topBox {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBoxText {
  width: 490px;
}

.topBoxText button {
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 40px 10px 40px 0;
}

#whiteButton {
  background-color: #fff;
  color: #000;
}

.topBox img {
  height: 270px;
  margin-top: 40px;
  display: flex;
}

.grid {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gridBox {
  width: 49%;
  height: 256px;
  margin-top: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-flow: row;
}

.gridBoxLeft {
  width: 46%;
}

.gridBoxLeft img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.gridBoxRight {
  width: 52%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.gridBoxText h2 {
  font-weight: bold;
  margin-top: 0;
}

.gridBoxText p {
  font-weight: 500;
}

.writerBox {
  bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.writerImage img {
  width: 40px;
  border-radius: 50%;
  padding-right: 5px;
}

.writerText p {
  font-size: 10px;
  font-weight: bold;
}

.writerText span {
  font-weight: 500;
}

.writerBookmark {
  width: 12px;
  height: 17px;
  padding-left: 30px;
  position: absolute;
  bottom: 30px;
  right: 16px;
}

@media (max-width: 900px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }

body {
  margin-left: 20px;
  margin-right: 20px;
}

  .navBar {
    height: 70px;
    width: auto;
    margin: 0 20px;
  }

  li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .topBoxText {
    width: 728px;
  }

  .topBoxText button {
    margin: 20px 10px 40px 0;
  }

  .topBox img {
    display: none;
  }

  .grid {
    display: flex;
    flex-flow: column;
    align-items: center;
 }

  .gridBox {
    width: 728px;
    height: 328px;
    display: flex;
    flex-flow: column;
  }

  .gridBoxLeft {
    width: 100%;
  }

  .gridBoxLeft img {
    width: 727px;
    height: 170px;
  }

  .gridBoxRight {
    width: calc(728px - 32px);
    height: 158px;
  }

  .writerBox {
    margin-bottom: 0;
  }

  .writerText {
    display: flex;
    flex-direction: row;
  }

  .writerImage img {
    padding-right: 5px;
  }

  .writerBookmark {
    right: 16px;
  }
}

@media (max-width: 600px) {

  .topBoxText button {
    margin: 20px 10px 20px 0;
  }

  .topBoxText {
    width: auto;
  }

  .gridBox {
    width: 280px;
    height: 337px;
    display: flex;
    flex-flow: column;
  }

  .gridBoxLeft img {
    width: 100%;
    height: 170px;
  }

  .gridBoxRight {
    width: calc(280px - 32px);
    height: 167px;
  }

  .writerBookmark {
    right: 16px;
    bottom: 20px;
  }

}
